
:root {
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);

    --border: hsl(0, 0%, 80%);

    --text-dark: hsl(0, 0%, 0%);
    --text: hsl(0, 0%, 10%);
    --text-light: hsl(0, 0%, 20%);

    --primary-dark: hsl(158, 83%, 16%);
    --primary: hsl(158, 83%, 24%);
    --primary-light: hsl(158, 83%, 32%);
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--bg-dark);
    width: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    color: var(--text-light);
}

/* ========== LANDING PAGE ========== */
#landing {
    background: var(--bg-dark);
    width: 100%;
    height: 100vh;
    height: 100dvh; /* For mobile devices. Dynamic view height. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing nav {
    height: 64px;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: right;
    position: fixed;
    top: 0;
    z-index: 1000;

    background-color: var(--bg-dark); 
    transition: box-shadow 0.5s ease;
    transition: background-color 0.3s ease;
}
#landing nav.scrolled {
    box-shadow: 0 4px 8px rgba(40, 40, 40, 0.2);
}
#landing nav.active {
    background-color: rgb(40, 40, 40);
}
nav h3 {
    margin-right: auto;
    font-weight: normal;
}
#landing nav.active h3 {
    color: white;
}
#rubik {
    width: 44px;
    margin: 0 4px 0px 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#rubik img {
    width: 44px;
    margin: 0;
}
#rubik:hover { transform: scale(1.10); }
#rubik:active { transform: scale(.90); }
#landing nav a:not(:first-child) { display: none; }
#landing nav #menu-icon {
    display: block;
    margin: 0 20px;
    cursor: pointer;
}
#landing nav #menu-icon #bar1, 
#landing nav #menu-icon #bar2, 
#landing nav #menu-icon #bar3 {
    width: 24px;
    height: 2px;
    background-color: black;
    margin: 4px 0px;
    transition: all 0.4s ease;
}
#landing nav #menu-icon.change #bar1 { 
    transform: translate(0, 6px) rotate(-45deg); 
    background-color: white;
}
#landing nav #menu-icon.change #bar2 { opacity: 0; }
#landing nav #menu-icon.change #bar3 { 
    transform: translate(0, -6px) rotate(45deg); 
    background-color: white;
}
.menu-overlay {
    z-index: 999;
    position: fixed;
    inset: 0;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;

    transition-duration: 0.2s;
}
.menu-overlay a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    margin: 16px 0px;
}
.menu-overlay.active {
    visibility: visible;
    opacity: 1;
}

#headshot-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 76px 30px 12px 30px;

    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0,0,0,1.2);
}
@keyframes spin {
    from { transform: scale(0) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
#headshot{
    width: min(64%, 260px, 30vh);
    border-radius: 50%;
    margin: 0;
}

#intro {
    width: fit-content;
    margin: 0px 30px 48px 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
#intro div {
    height: min(56px, 8vh); 
    display: flex; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}
#intro h2 {
    font-size: min(28px, 4vh);
    font-weight: normal;
    width: fit-content;
    margin: 0;
}
#intro h4 {
    font-size: min(16px, 2.5vh);
    margin-top: min(12px, 1vh);
    margin-bottom: 0px;
    margin-right: auto;
    color: var(--primary-light);
}
#intro p {
    font-size: min(16px, 2.5vh);
    margin: 0px;
    color: var(--text-light);
}
#intro a {
    border-radius: 10px;
    padding: min(12px, 2vh); 
    margin-top: 16px;
    font-size: min(12px, 2vh);
    text-decoration: none;
    color: white;
    background-color: var(--primary-light);
    transition: transform 0.2s ease;
}
#intro a:hover {
    border-color: var(--primary-dark);
    background-color: var(--primary);
    transform: scale(1.05);
}
#intro a:active { transform: scale(.9); }

#arrow-container {
    position: absolute; 
    bottom: 2px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.4;
}
#arrow-container p {
    margin: -4px;
    font-size: 12px;
}
#arrow {
    width: 28px;
    height: 20px;
    animation: bounce 1.5s infinite;
}
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(2px); }
}
#arrow-container:hover {
    opacity: 80%;
}

@media (min-width: 850px) {
    #landing nav #menu-icon {
        display: none;
    }
    #landing nav a:not(:first-child) {
        display: block;
        text-decoration: none;
        color: var(--text-light);
        padding: 0px 12px;
        font-size: 16px;
        cursor: pointer;
    }
    #landing nav a:hover {
        text-decoration: underline;
        color: var(--primary);
    }

    #landing {
        flex-direction: row;
    }
    #headshot-container {
        margin: 0;
        flex-grow: 0;
        width: max(28vw, 400px);
    }
    #headshot {
        width: min(32vw, 300px);
    }
    #intro {
        margin-left: 0;
        margin-bottom: 0;
        flex-grow: 0;
        width: 36vw;
    }
}

/* ========== WORK EXPERIENCE ========== */
#timeline {
    position: relative;
    margin: 5vh auto;
    padding-left: 32px;
    width: min(80vw, 500px);
    border-left: 2px solid var(--border);
}
.timeline-item {
    position: relative;
    margin-bottom: 32px;
}
.timeline-dot {
    position: absolute;
    left: -41px;
    width: 16px;
    height: 16px;
    background: var(--primary-light);
    border-radius: 50%;
}
.timeline-content {
    background: var(--bg);
    padding: 20px;
    border-radius: 12px;
}
.timeline-content h3 {
    margin: 0;
}
.timeline-content .date {
    font-size: 12px;
    color: var(--text-light);
}
.timeline-content p {
    margin: 10px 0px;
    color: var(--text);
}
.timeline-content ul {
    margin: 10px 0px;
    padding-left: 16px;
    list-style-position:outside;
}

/* ========== EDUCATION ========== */
#edu-container {
    position: relative;
    margin: 5vh auto;
    padding-right: 32px;
    width: min(80vw, 500px);
    border-right: 2px solid var(--border);
}
.edu-item {
    position: relative;
    margin-bottom: 32px;
}
.edu-dot {
    position: absolute;
    right: -41px;
    width: 16px;
    height: 16px;
    background: var(--primary-light);
    border-radius: 50%;
}
.edu-content {
    background: var(--bg);
    padding: 20px;
    border-radius: 12px;
}
.edu-content h3 {
    margin: 0;
}
.edu-content .date {
    font-size: 12px;
    color: var(--text-light);
}
.edu-content p {
    margin: 10px 0px;
    color: var(--text);
}

/* ========== CONTACT ========== */
#contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 28vh;
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: var(--text-light);
    color: white;
}
#contact-container div {
    width: fit-content;
    margin: auto auto auto 8vw;
}
#contact-container div h2, 
#contact-container div p {
    margin: 0;
    font-weight: normal;
}
#contact-container div a {
    color: hsl(140, 100%, 50%);
    font-size: 16px;
}
#contact-container div a:hover {
    color: hsl(60, 100%, 50%);
}
