html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: hsl(0, 0%, 90%);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
}

/* ===== NAV SECTION ===== */
nav {
    border-bottom: 1px solid black;
    background-color: hsl(0, 0%, 90%);
    width: 100%;
    height: 64px;
    display: grid;
    grid-template-columns: 52px 52px auto 150px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999; /* To ensure it stay above everything */
}
nav #growth {
    margin-left: 8px;
    transition: transform 0.3s ease;
}
nav #growth:hover {
    transform: scale(1.1);
}
nav #growth img {
    width: 44px;
}
nav #menu-links {
    margin: auto;
}
nav #menu-links a {
    padding: 8px;
    margin: 0 4px;
    text-decoration: none;
    color: black;
}
nav #menu-links a:hover {
    background-color: black;
    color: white;
}
nav button {
    border: 1px solid black;
    padding: 8px 16px;
    margin: 0 16px;
}
nav button:hover {
    background-color: black;
    color: white;
} 
nav #menu-icon {
    display: none; 
    margin: 0 16px;
} 
nav #menu-icon div {
    background-color: black;
    width: 24px;
    height: 2px;
    margin: 4px 0;
    transition: all 0.4s ease;
}
nav #menu-icon.change #bar1 { 
    transform: translate(0, 6px) rotate(-45deg); 
}
nav #menu-icon.change #bar2 { 
    opacity: 0; 
}
nav #menu-icon.change #bar3 { 
    transform: translate(0, -6px) rotate(45deg); 
}
@media (max-width: 800px) {
    nav {
        grid-template-columns: 52px 52px auto;
    }
    #menu-links {
        display: none;
    }
    nav button {
        display: none;
    }
    nav #menu-icon {
        margin-left: auto;
        display: block;
    }
}

/* ===== FOOTER SECTION ===== */
footer {
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    font-size: 12px;
}
#upper-footer-container {
    border-top: 2px solid black;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#upper-footer-container .quadrants {
    box-sizing: border-box;
    padding: 20px 40px;
}
#upper-footer-container .quadrants a {
    display: block;
    margin: 4px 0;
    color: black;
}
#upper-footer-container .quadrants h4 {
    margin: 4px;
}
#upper-footer-container img[alt="PLB Logo"] {
    width: 24px;
    position: relative;
    top: 6px;
}
#upper-footer-container #social-link {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#upper-footer-container #social-link img {
    width: 24px;
    margin: 0 4px;
}
#lower-footer-container {
    border-top: 2px solid black;
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center;
}
#lower-footer-container p {
    margin-left: 8px;
}
#lower-footer-container a {
    float: right;
    margin: 0 12px;
    color: black;
}